<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
		<add name="AerolineaConexion"
			 connectionString="Integrated Security=True;Initial Catalog=ProyectoAerolinea;Data Source=DESKTOP-C23CS6B\SQLEXPRESS; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>